.admin-dashboard {
    font-family: 'Poppins', sans-serif;
    max-width: 950px;
    margin: 0 auto;
}

.tips-form {
    border: 1px solid #d2d2d2;
    border-radius: 5px;
    padding: 20px 32px;
    box-sizing: border-box;

    h3 {
        font-weight: bold;
        margin-bottom: 24px;
    }

    button {
        background-color: rgb(255, 153, 0);
        color: #fff;
        position: relative;
        padding: 10px 28px;
        font-size: 18px;
        font-weight: 600;
        margin-top: 20px;
        border: none;
        &:hover {
            background: rgba(255, 153, 0, 0.9);
        }
        &:active {
            outline: none;
            border: none;
            border-radius: 0;
        }
        &:focus {
            outline: none;
            border: none;
            border-radius: 0;
        }
    }
}

.btn-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    transition: transform 0.2s;
    transform: scale(0);
    &.is-loading {
        transform: scale(1);
    }
    i {
        color: rgba(255, 255, 255, 0.7);
        width: 2px;
        height: 16px;
        position: relative;
        text-indent: -9999em;
        animation: loader 1.5s infinite linear;
        transform: skew(135deg);
    }
}

$spacer: 8px;
$spacer-half: ($spacer / 2);
$trailing-opacity: 0.8;
$color-nobel: rgba(43, 38, 38, 0.5);

@keyframes loader {
    0%, 100% {
      box-shadow: -(($spacer*3) + $spacer-half) 0 $color-nobel, -(($spacer*2) + $spacer-half) 0, -(($spacer*1) + $spacer-half) 0, -($spacer-half) 0, ($spacer-half) 0, (($spacer*1) + $spacer-half) 0, (($spacer*2) + $spacer-half) 0, (($spacer*3) + $spacer-half) 0;
    }
    12.5% {
      box-shadow: -(($spacer*3) + $spacer-half) 0 rgba($color-nobel, $trailing-opacity), -(($spacer*2) + $spacer-half) 0 $color-nobel, -(($spacer*1) + $spacer-half) 0, -($spacer-half) 0, ($spacer-half) 0, (($spacer*1) + $spacer-half) 0, (($spacer*2) + $spacer-half) 0, (($spacer*3) + $spacer-half) 0;
    }
    25% {
      box-shadow: -(($spacer*3) + $spacer-half) 0, -(($spacer*2) + $spacer-half) 0 rgba($color-nobel, $trailing-opacity), -(($spacer*1) + $spacer-half) 0 $color-nobel, -($spacer-half) 0, ($spacer-half) 0, (($spacer*1) + $spacer-half) 0, (($spacer*2) + $spacer-half) 0, (($spacer*3) + $spacer-half) 0;
    }
    37.5% {
      box-shadow: -(($spacer*3) + $spacer-half) 0, -(($spacer*2) + $spacer-half) 0, -(($spacer*1) + $spacer-half) 0 rgba($color-nobel, $trailing-opacity), -($spacer-half) 0 $color-nobel, ($spacer-half) 0, (($spacer*1) + $spacer-half) 0, (($spacer*2) + $spacer-half) 0, (($spacer*3) + $spacer-half) 0;
    }
    50% {
      box-shadow: -(($spacer*3) + $spacer-half) 0, -(($spacer*2) + $spacer-half) 0, -(($spacer*1) + $spacer-half) 0, -($spacer-half) 0 rgba($color-nobel, $trailing-opacity), ($spacer-half) 0 $color-nobel, (($spacer*1) + $spacer-half) 0, (($spacer*2) + $spacer-half) 0, (($spacer*3) + $spacer-half) 0;
    }
    62.5% {
      box-shadow: -(($spacer*3) + $spacer-half) 0, -(($spacer*2) + $spacer-half) 0, -(($spacer*1) + $spacer-half) 0, -($spacer-half) 0, ($spacer-half) 0 rgba($color-nobel, $trailing-opacity), (($spacer*1) + $spacer-half) 0 $color-nobel, (($spacer*2) + $spacer-half) 0, (($spacer*3) + $spacer-half) 0;
    }
    75% {
      box-shadow: -(($spacer*3) + $spacer-half) 0, -(($spacer*2) + $spacer-half) 0, -(($spacer*1) + $spacer-half) 0, -($spacer-half) 0, ($spacer-half) 0, (($spacer*1) + $spacer-half) 0 rgba($color-nobel, $trailing-opacity), (($spacer*2) + $spacer-half) 0 $color-nobel, (($spacer*3) + $spacer-half) 0;
    }
    87.5% {
      box-shadow: -(($spacer*3) + $spacer-half) 0, -(($spacer*2) + $spacer-half) 0, -(($spacer*1) + $spacer-half) 0, -($spacer-half) 0, ($spacer-half) 0, (($spacer*1) + $spacer-half) 0, (($spacer*2) + $spacer-half) 0 rgba($color-nobel, $trailing-opacity), (($spacer*3) + $spacer-half) 0 $color-nobel;
    }
  }