.blocked-entry {
    height: 100vh;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    h2 {
        font-weight: bold;
        font-size: 38px;
    }
}

.plan-name {
    border: 1px solid rgba(51, 51, 51, 0.575);
    border-radius: 3px;
    display: inline-block;
    padding: 7px;
    font-size: 14px;
}

.blocked-info {
    width: 450px;
    border: 1px solid #ff990042;
    background-color: #ff990042;
    padding: 16px 28px;
    border-radius: 5px;
    box-sizing: border-box;
    p {
        font-size: 18px;
        margin-top: 10px;
    }
}

.btn {
    background-color: #FF9900;
    border: 1px solid #FF9900;
    padding: 10px 30px;
    width: 200px;
    position: relative;
    color: #fff;
    border: none;
    // display: block;
    // margin: 0 auto;
    &:hover {
        background: rgba(255, 153, 0, 0.9);
    }
    &:active {
        outline: none;
        border: none;
        border-radius: 0;
    }
    &:focus {
        outline: none;
        border: none;
        border-radius: 0;
    }
}

.btn-outline {
    padding: 10px 30px;
    width: 200px;
    position: relative;
    border: 1px solid #333;
    // display: block;
    // margin: 0 auto;
}

.btn-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    transition: transform 0.2s;
    transform: scale(0);
    &.is-loading {
        transform: scale(1);
    }
    i {
        color: rgba(255, 255, 255, 0.7);
        width: 2px;
        height: 16px;
        position: relative;
        text-indent: -9999em;
        animation: loader 1.5s infinite linear;
        transform: skew(135deg);
    }
}

@media only screen and (max-width: 499px) {
    .blocked-entry {
        display: block;
        padding-top: 50px;
        h2 {
            font-size: 32px;
        }
    }
    .blocked-info {
        width: 85%;
        margin: 0 auto;
        p {
            font-size: 17px;
        }
    }
}

$spacer: 8px;
$spacer-half: ($spacer / 2);
$trailing-opacity: 0.8;
$color-nobel: rgba(43, 38, 38, 0.5);

@keyframes loader {
    0%, 100% {
      box-shadow: -(($spacer*3) + $spacer-half) 0 $color-nobel, -(($spacer*2) + $spacer-half) 0, -(($spacer*1) + $spacer-half) 0, -($spacer-half) 0, ($spacer-half) 0, (($spacer*1) + $spacer-half) 0, (($spacer*2) + $spacer-half) 0, (($spacer*3) + $spacer-half) 0;
    }
    12.5% {
      box-shadow: -(($spacer*3) + $spacer-half) 0 rgba($color-nobel, $trailing-opacity), -(($spacer*2) + $spacer-half) 0 $color-nobel, -(($spacer*1) + $spacer-half) 0, -($spacer-half) 0, ($spacer-half) 0, (($spacer*1) + $spacer-half) 0, (($spacer*2) + $spacer-half) 0, (($spacer*3) + $spacer-half) 0;
    }
    25% {
      box-shadow: -(($spacer*3) + $spacer-half) 0, -(($spacer*2) + $spacer-half) 0 rgba($color-nobel, $trailing-opacity), -(($spacer*1) + $spacer-half) 0 $color-nobel, -($spacer-half) 0, ($spacer-half) 0, (($spacer*1) + $spacer-half) 0, (($spacer*2) + $spacer-half) 0, (($spacer*3) + $spacer-half) 0;
    }
    37.5% {
      box-shadow: -(($spacer*3) + $spacer-half) 0, -(($spacer*2) + $spacer-half) 0, -(($spacer*1) + $spacer-half) 0 rgba($color-nobel, $trailing-opacity), -($spacer-half) 0 $color-nobel, ($spacer-half) 0, (($spacer*1) + $spacer-half) 0, (($spacer*2) + $spacer-half) 0, (($spacer*3) + $spacer-half) 0;
    }
    50% {
      box-shadow: -(($spacer*3) + $spacer-half) 0, -(($spacer*2) + $spacer-half) 0, -(($spacer*1) + $spacer-half) 0, -($spacer-half) 0 rgba($color-nobel, $trailing-opacity), ($spacer-half) 0 $color-nobel, (($spacer*1) + $spacer-half) 0, (($spacer*2) + $spacer-half) 0, (($spacer*3) + $spacer-half) 0;
    }
    62.5% {
      box-shadow: -(($spacer*3) + $spacer-half) 0, -(($spacer*2) + $spacer-half) 0, -(($spacer*1) + $spacer-half) 0, -($spacer-half) 0, ($spacer-half) 0 rgba($color-nobel, $trailing-opacity), (($spacer*1) + $spacer-half) 0 $color-nobel, (($spacer*2) + $spacer-half) 0, (($spacer*3) + $spacer-half) 0;
    }
    75% {
      box-shadow: -(($spacer*3) + $spacer-half) 0, -(($spacer*2) + $spacer-half) 0, -(($spacer*1) + $spacer-half) 0, -($spacer-half) 0, ($spacer-half) 0, (($spacer*1) + $spacer-half) 0 rgba($color-nobel, $trailing-opacity), (($spacer*2) + $spacer-half) 0 $color-nobel, (($spacer*3) + $spacer-half) 0;
    }
    87.5% {
      box-shadow: -(($spacer*3) + $spacer-half) 0, -(($spacer*2) + $spacer-half) 0, -(($spacer*1) + $spacer-half) 0, -($spacer-half) 0, ($spacer-half) 0, (($spacer*1) + $spacer-half) 0, (($spacer*2) + $spacer-half) 0 rgba($color-nobel, $trailing-opacity), (($spacer*3) + $spacer-half) 0 $color-nobel;
    }
  }