.register-container {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    a {
        color: rgb(255, 153, 0);
        &:hover {
            color: rgb(255, 153, 0);
        }
    }
}

.register-form {
    padding: 40px 60px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    h2{
        font-weight: 700;
        color: rgb(255, 153, 0);
    }
    h3 {
        font-weight: 600;
        color: #333;
    }
    button {
        background-color: rgb(255, 153, 0);
        color: #fff;
        padding: 10px 28px;
        font-size: 18px;
        font-weight: 600;
        margin-top: 20px;
        border: none;
    }
}

.bleed-image {
    background: linear-gradient(rgba(255, 153, 0, 0.5), rgba(255, 153, 0, 0.5)), url(../images/bleed-image.jpg);
    background-size: 140%;
    background-position: center right;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.select-input {
    label {
        font-weight: 600;
    }
    select {
        width: 100%;
        background-color: #c4c4c4;
        border: 1px solid #c4c4c4;
        padding: 10px 26px;
        margin-top: -5px;
        margin-bottom: 20px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FF9900%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%;
        &:focus {
            outline: none;
            border: 1px solid rgb(255, 153, 0);
        }
        option {
            padding: 10px 0;
        }
    }
}


@media only screen and (max-width: 499px) {
    .register-container {
        min-height: 100%;
        overflow-x: hidden;
    }

    .bleed-image {
        min-height: 250px;
        background-size: 200%;
    }

    .register-form {
        padding: 10px 40px;
        height: 100%;
        h2{
            position: absolute;
            top: -120px;
            left: 50px;
            z-index: 100;
            color: #fff;
            font-size: 28px;
            text-shadow: 2px 2px 12px #333;
        }
        h3 {
            text-shadow: 2px 2px 12px #333;
            position: absolute;
            top: -115px;
            font-size: 22px;
            left: 50px;
            z-index: 101;
            color: #fff;
        }
        button {
            padding: 10px 28px;
            font-size: 16px;
            margin-top: 15px;
        }
    }

    .select-input {
        select {
            padding: 10px 18px;
            font-size: 16px;
        }

        label {
            font-size: 14px;
        }
    }
}