.footer {
  font-family: 'Poppins', sans-serif;
  padding: 20px 0 40px;
}
.socials {
  h4 {
    font-size: 20px;
    font-weight: 600;
  }
  ul {
    display: flex;
    align-items: center;
    padding-inline-start: 0;
    margin-top: 20px;
    li {
      list-style-type: none;
      img {
        width: 22px;
      }
    }
  }
}

.footer-links {
  h4 {
    font-size: 20px;
    font-weight: 600;
  }
  ul {
    padding-inline-start: 0;
    margin-top: 20px;
    li {
      list-style-type: none;
      margin-bottom: 4px;
      a {
        text-decoration: none;
        // color: black;
      }
    }
  }
}

.newsletter {
  h4 {
    font-size: 20px;
    font-weight: 600;
  }
  label {
    font-size: 15px;
  }
  input[type="checbox"]:checked ~ label {
    background-color: #FF9900;
  }
}

.sub-form {
  display: flex;
  // margin-top: 20px;
  input {
    width: 60%;
    border-radius: 0;
    border: 1px solid #c4c4c4d2;
    &:focus {
      outline: none;
      box-shadow: none;
      border: 1px solid #FF9900;
    }
  }
  button {
    border-radius: 0;
    background-color: #FF9900;
    font-size: 18px;
    font-weight: 600;
    position: relative;
  }
}

.form-group {
  margin-top: 20px;
  .form-status {
    font-size: 15px;
    margin-bottom: 4px;
    transition: 1s ease-in-out;
  }
}

.btn-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  transition: transform 0.2s;
  transform: scale(0);
  &.is-loading {
      transform: scale(1);
  }
  i {
      color: rgba(255, 255, 255, 0.7);
      width: 2px;
      height: 16px;
      position: relative;
      text-indent: -9999em;
      animation: loader 1.5s infinite linear;
      transform: skew(135deg);
  }
}

@media only screen and (max-width: 499px) {
  .footer {
    padding: 10px 20px 30px;
    text-align: center;
    margin: 0;
    margin-top: -5px;
  }

  .socials {
    h4 {
      font-size: 18px;
    }
    ul {
      justify-content: center;
    }
    p {
      font-size: 14px;
    }
  }

  .footer-links {
    h4 {
      font-size: 18px;
    }
    ul {
      margin-top: 16px;
      li {
        a {
          font-size: 15px;
        }
      }
    }
  }

  .newsletter {
    h4 {
      font-size: 18px;
    }
    label {
      font-size: 14px;
    }
  }

  .sub-form {
    margin-top: 18px;
    input {
      width: 70%;
      font-size: 16px;
    }
    button {
      font-size: 16px;
    }
  }
}

$spacer: 8px;
$spacer-half: ($spacer / 2);
$trailing-opacity: 0.8;
$color-nobel: rgba(43, 38, 38, 0.5);

@keyframes loader {
    0%, 100% {
      box-shadow: -(($spacer*3) + $spacer-half) 0 $color-nobel, -(($spacer*2) + $spacer-half) 0, -(($spacer*1) + $spacer-half) 0, -($spacer-half) 0, ($spacer-half) 0, (($spacer*1) + $spacer-half) 0, (($spacer*2) + $spacer-half) 0, (($spacer*3) + $spacer-half) 0;
    }
    12.5% {
      box-shadow: -(($spacer*3) + $spacer-half) 0 rgba($color-nobel, $trailing-opacity), -(($spacer*2) + $spacer-half) 0 $color-nobel, -(($spacer*1) + $spacer-half) 0, -($spacer-half) 0, ($spacer-half) 0, (($spacer*1) + $spacer-half) 0, (($spacer*2) + $spacer-half) 0, (($spacer*3) + $spacer-half) 0;
    }
    25% {
      box-shadow: -(($spacer*3) + $spacer-half) 0, -(($spacer*2) + $spacer-half) 0 rgba($color-nobel, $trailing-opacity), -(($spacer*1) + $spacer-half) 0 $color-nobel, -($spacer-half) 0, ($spacer-half) 0, (($spacer*1) + $spacer-half) 0, (($spacer*2) + $spacer-half) 0, (($spacer*3) + $spacer-half) 0;
    }
    37.5% {
      box-shadow: -(($spacer*3) + $spacer-half) 0, -(($spacer*2) + $spacer-half) 0, -(($spacer*1) + $spacer-half) 0 rgba($color-nobel, $trailing-opacity), -($spacer-half) 0 $color-nobel, ($spacer-half) 0, (($spacer*1) + $spacer-half) 0, (($spacer*2) + $spacer-half) 0, (($spacer*3) + $spacer-half) 0;
    }
    50% {
      box-shadow: -(($spacer*3) + $spacer-half) 0, -(($spacer*2) + $spacer-half) 0, -(($spacer*1) + $spacer-half) 0, -($spacer-half) 0 rgba($color-nobel, $trailing-opacity), ($spacer-half) 0 $color-nobel, (($spacer*1) + $spacer-half) 0, (($spacer*2) + $spacer-half) 0, (($spacer*3) + $spacer-half) 0;
    }
    62.5% {
      box-shadow: -(($spacer*3) + $spacer-half) 0, -(($spacer*2) + $spacer-half) 0, -(($spacer*1) + $spacer-half) 0, -($spacer-half) 0, ($spacer-half) 0 rgba($color-nobel, $trailing-opacity), (($spacer*1) + $spacer-half) 0 $color-nobel, (($spacer*2) + $spacer-half) 0, (($spacer*3) + $spacer-half) 0;
    }
    75% {
      box-shadow: -(($spacer*3) + $spacer-half) 0, -(($spacer*2) + $spacer-half) 0, -(($spacer*1) + $spacer-half) 0, -($spacer-half) 0, ($spacer-half) 0, (($spacer*1) + $spacer-half) 0 rgba($color-nobel, $trailing-opacity), (($spacer*2) + $spacer-half) 0 $color-nobel, (($spacer*3) + $spacer-half) 0;
    }
    87.5% {
      box-shadow: -(($spacer*3) + $spacer-half) 0, -(($spacer*2) + $spacer-half) 0, -(($spacer*1) + $spacer-half) 0, -($spacer-half) 0, ($spacer-half) 0, (($spacer*1) + $spacer-half) 0, (($spacer*2) + $spacer-half) 0 rgba($color-nobel, $trailing-opacity), (($spacer*3) + $spacer-half) 0 $color-nobel;
    }
  }