.input {
    width: 100%;
    padding: 10px 26px;
    font-size: 18px;
    margin-top: -5px;
    background-color: #c4c4c4;
    border: 1px solid #c4c4c4;
    // font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

.label {
    font-weight: 600;
    color: #333;
}

input:focus {
    border: 1px solid #FF9900;
    outline: none;
}


@media only screen and (max-width: 499px) {
    .input {
        font-size: 16px;
        padding: 10px 18px;
    } 

    .label {
        font-size: 14px;
    }
}